body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.item {
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2980b9;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 800px; 
    width: 90%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.a {
    grid-column: 1 / span 3;
    grid-row: 1; 
}


.b {
    grid-column: 1;
    grid-row: 2 / span 2; 
}


.c {
    grid-column: 2;
    grid-row: 2; 
}


.d {
    grid-column: 3;
    grid-row: 2; 
}


.e {
    grid-column: 2 / span 2;
    grid-row: 3; 
}

.f {
    grid-column: 1 / span 3;
    grid-row: 4; 
}