 .container {
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  gap: 10px;
  padding: 12px;
  background: #e6e6e6;
  align-items: center;
}

.header-photo {
  width: 40px;
  height: 40px;
  background: #c0c0c0;
  border-radius: 50%;
}

.header-photo.small {
  width: 32px;
  height: 32px;
}

.header-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-right .name {
  font-weight: bold;
  font-size: 14px;
}

.header-right .time {
  font-size: 11px;
  color: #555;
}

.header-menu {
  font-size: 22px;
  cursor: pointer;
  padding: 0 5px;
  color: #333;
}

.caption {
  padding: 12px;
  font-size: 14px;
  background: #c7c7c7;
  line-height: 1.4;
}

.caption a {
  color: #c57f0e;
  text-decoration: none;
}
.caption a:hover {
  text-decoration: underline;
}

.content {
  width: 100%;
  height: 280px;
  background: #bf6018;
  background-size: cover;
  background-position: center;
}

.action-btns {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #ffffff;
}

.action-btns div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.action-btns div:hover {
  background: #e7e7e7;
}

.reaction-count {
  padding: 8px 12px;
  display: flex;
  gap: 6px;
  font-size: 13px;
  color: #444;
  background: rgb(127, 106, 106);
  align-items: center;
}

.comment-section {
  display: flex;
  gap: 8px;
  padding: 10px;
  background: green;
  border-top: 1px solid #ddd;
}

.comment-input {
  flex: 1;
  background: #ececec;
  padding: 8px 14px;
  border-radius: 25px;
  font-size: 14px;
  color: #000;
}
