
body {
    font-family: sans-serif;
    padding: 40px;
    background-color: #f8f8f8;
}

.card-image-box {
    background-color: #d8d8d8;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.card-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.card-action {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card.span2 {
    grid-column: span 2; 
}

.card {
    display: grid;
    grid-template-rows: auto auto 1fr auto; 
    grid-template-columns: 1fr; 
    
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card-action {
    align-self: end; 
    margin-top: 10px;
}